<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="_2doParcialDislaEscanio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="NorthwindEntities" 
         connectionString="metadata=res://*/DBNorthwind.csdl|res://*/DBNorthwind.ssdl|res://*/DBNorthwind.msl;provider=System.Data.SqlClient;provider connection string='data source=(localdb)\Server Local;attachdbfilename=|DataDirectory|\DBNorthwindFile.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework; User Instance=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <_2doParcialDislaEscanio.Properties.Settings>
      <setting name="RutaArchivo" serializeAs="String">
        <value>C:\ArchivoFactura.txt</value>
      </setting>
    </_2doParcialDislaEscanio.Properties.Settings>
  </applicationSettings>
</configuration>